.container-factory{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: #162447;
}
.sidebar {
  flex: 1;
  min-height: 100vh;
}
.content {
  flex: 5;
  border-radius: 40px;
  margin: 10px;
  padding: 30px;
  background-color: white;
}

.container-factory-content{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}